FORMAT: 1A
HOST: http://www.google.com

# DAP Services a.s. API, version 2

API verze 2. Opřeno o model3.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

##Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 400 `Bad Request` - The request could not be understood or was missing required parameters.
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 429 `Too Many Requests` - Exceeded API limits. Pause requests, wait one minute, and try again.
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

# API root [/]

Bez atributů, vrací `403`.

## Požadavek na root [GET]

+ Response 403

# Group Account

Práce s účtem uživatele.
            
## Users Login [/account/login]
### Login User [POST]

role: businessman, business_partner

+ Response 200 (application/json)

    + Header
            
            Access-Control-Allow-Origin: *
            
    + Body
            
            {
            "user_id": 12312334,
            "profile": "/account/profile/{user_id}",
            "token": "security_token",
            "role":"business_partner"
            }
            
+ Response 401 (Unauthorized)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body
    
            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                }
            }
            
## Users Login [/account/loginbad]
### Login User [POST]
            
+ Response 401 (Unauthorized)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body
    
            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                }
            }                        
            
            
## Users Login [/account/registrationconfirm]
### Login User [POST]
+ Response 200 (application/json)

    + Header
            
            Access-Control-Allow-Origin: *
            
    + Body
            
            {
                "user_id": 12312334,
                "profile": "/account/profile/{user_id}"
            }
            
## Operace pro zobrazení uživatele. [/account/{user_id}]
### List all accounts [GET]
+ Response 200 (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            {
                "first_name": "first_name",
                "last_name": "last_name",
                "company_name": "company_name",
                "email": "email@email.cz",
                "address": "address",
                "country_code": {"name": "ISO country code","id": 1},
                "language_code": {"name": "ISO language code","id": 1},
                "phone_number": "123 123 1234",
                "login": "login_name",
                "vat_number": "vat_number",
                "licence_start": "25.2.2014",
                "licence_end": "25.2.2015"
            }

### Create new account [PUT]
+ Request (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            {
                "first_name": "first_name",
                "last_name": "last_name",
                "company_name": "company_name",
                "email": "email",
                "address": "address",
                "country_code": {"name": "ISO country code","id": 1},
                "language_code": {"name": "ISO language code","id": 1},
                "phone_number": "123 123 1234",
                "login": "login_name",
                "vat_number": "vat_number",
                "password": "password",
                "verify_password": "verify_password"
            }

+ Response 200 (application/json)

            {
                "account_id": 12312334,
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

            {
                "error": {
                    "message": "Chybové hlášení pro upravu uživatele.",
                    "error_code": "error.code.updateaccount"
                }
            } 
            
## Registrace uživatele [/account/registration]
### Register [POST]

+ Request (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            {
                "first_name": "first_name",
                "last_name": "last_name",
                "company_name": "company_name",
                "email": "email",
                "address": "address",
                "country_code":"ISO country code",
                "language_code": "ISO language code",
                "phone_number": "123 123 1234",
                "login": "login_name",
                "password": "PASSWORD",
                "verify_password": "PASSWORD",
                "vat_number": "vat_number"
            }


+ Response 200 (application/json)

            {
                "user_id": 12312334,
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

            {
                "error": {
                    "message": "Chybové hlášení pro vytvoření uživatele.",
                    "error_code": "error.code.registration"
                }
            }
            
# Seznam školení uživatele [/account/{user_id}/training]

Práce se školeními uživatele. Autorizovaný resource.

> TODO Pravděpodobně samostatný resource pro app

## GET

Seznam školení uživatele.

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "training_id": 1,
                    "name": "nls.training.name.key",
                    "status": "ORDERED"
                },
                {
                    "training_id": 2,
                    "name": "nls.training.name.key",
                    "status": "NOT_ORDERED"
                },
                {
                    "training_id": 3,
                    "name": "nls.training.name.key",
                    "status": "WAITING"
                }
            ]
            
# Konkretni školení uživatele [/account/{user_id}/training/{training_id}]

Práce se školeními uživatele. Autorizovaný resource.

> TODO Pravděpodobně samostatný resource pro app

## GET

Seznam školení uživatele.

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

                {
                    "training_id": 1,
                    "name": "nls.training.name.key",
                    "status": "NOT_ORDERED"
                }

## POST

Objednání školení uživatele. Výsledkem je odeslání emailu administrátorovi s žádostí o školení.

+ Request (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "training_id": 1,
                "message":"message_text"
            }

+ Response 200

            {
                "training_id": 1,
                "profile": "/account/profile/{user_id}"
            }
            
## Languages Collection [/language]
### List all Languages [GET]
+ Response 200 (application/json)

    + Header
    
            Accept: application/json
            
    + Body

            [{
                "name": "EN",
                "id": 1
            }, {
                "name": "DE",
                "id": 2
            }, {
                "name": "CZE",
                "id": 3
            }]
            
## Countries Collection [/country]
### List all Countries [GET]
+ Response 200 (application/json)

    + Header
    
            Accept: application/json
            
    + Body

            [{
                "name": "USA",
                "id": 1
            },{
                "name": "Canada",
                "id": 2
            }]
         
## Seznam vsech zakazniku pro konkretniho business partnera [/account/{user_id}/customer]
### List all Customers [GET]
+ Response 200 (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            [{
                "customer_id": "customer_id_1",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code"
            },{
                "customer_id": "customer_id_2",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code"
            }]

### Vytvoreni noveho zakaznika [POST]

+ Request (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            {
                "company_name": "company_name",
                "scanner_language":{"name": "EN_scan","id": 1},
                "name": true,
                "surname": false,
                "email":true,
                "department": false,
                "department_name": "department_name",
                "item": true,
                "item_name": "item_name"
            }


+ Response 200 (application/json)

            {
                "customer_id": 12312334,
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

            {
                "error": {
                    "message": "Chybové hlášení pro vytvoření zakaznika.",
                    "error_code": "error.code.createcustomer"
                }
            }

## Detail konkretniho zakaznika pro konkretniho business partnera [/account/{user_id}/customer/{customer_id}]
### Detail Customer [GET]
+ Response 200 (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            {
                "customer_id": "customer_id_1",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code",
                "scanner_language":{"name": "EN_scan","id": 1},
                "scanner_link":"http://url_scanner",
                "name":true,
                "surname":false,
                "department":true,
                "department_name":"department_name",
                "item":true,
                "item_name":"item_name"
            }

### Editace zakaznika [PUT]

+ Request (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            {
                "company_name": "company_name",
                "scanner_language":{"name": "EN_scan","id": 1},
                "name": true,
                "surname": false,
                "email":true,
                "department": true,
                "department_name": "department_name",
                "item": true,
                "item_name": "item_name"
            }


+ Response 200 (application/json)

            {
                "customer_id": 12312334,
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

            {
                "error": {
                    "message": "Chybové hlášení pro editaci zakaznika.",
                    "error_code": "error.code.editcustomer"
                }
            }
            

## Seznam scanu konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/result]
### List Diag Result [GET]
+ Response 200 (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            [{
                "diag_result_id": "diag_result_id_1",
                "name": "name_1",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department1",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "result_scan_link": "result_scan_link"
            },{
                "diag_result_id": "diag_result_id_2",
                "name": "name_2",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department2",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "result_scan_link": "result_scan_link"
            },{
                "diag_result_id": "diag_result_id_21",
                "name": "name_21",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department3",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "result_scan_link": "result_scan_link"
            },{
                "diag_result_id": "diag_result_id_22",
                "name": "name_22",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department1",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "result_scan_link": "result_scan_link"
            },{
                "diag_result_id": "diag_result_id_31",
                "name": "name_31",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department2",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "result_scan_link": "result_scan_link"
            },{
                "diag_result_id": "diag_result_id_32",
                "name": "name_32",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department3",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "result_scan_link": "result_scan_link"
            }]
            
## Seznam personu konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/groupresult]
### List Diag Group Result [POST]
+ Request (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            [{
                "person_id": "person_id_1"
            },{
                "person_id": "person_id_2"
            },{
                "person_id": "person_id_3"
            },{
                "person_id": "person_id_4"
            }]

+ Response 200 (application/json)

            {
                "group_result": "url",
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

            {
                "error": {
                    "message": "Chybové hlášení pro generovani group result zakaznika.",
                    "error_code": "error.code.groupresult"
                }
            }
            
## Seznam lidi konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/persons]
### List department [GET]
+ Response 200 (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            [{
                "person_id": "person_id_1",
                "name": "name_1",
                "birth_year": "birth_year",
                "department": "department1"
            },{
                "person_id": "person_id_2",
                "name": "name_2",
                "birth_year": "birth_year",
                "department": "department1"
            },{
                "person_id": "person_id_3",
                "name": "name_3",
                "birth_year": "birth_year",
                "department": "department2"
            },{
                "person_id": "person_id_4",
                "name": "name_4",
                "birth_year": "birth_year",
                "department": "department2"
            },{
                "person_id": "person_id_5",
                "name": "name_5",
                "birth_year": "birth_year",
                "department": "department3"
            },{
                "person_id": "person_id_6",
                "name": "name_6",
                "birth_year": "birth_year",
                "department": "department3"
            }]

## Seznam departmentu konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/departments]
### List department [GET]
+ Response 200 (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            [{
                "department": "department1"
            },{
                "department": "department2"
            },{
                "department": "department3"
            }]

## Languages Collection [/scannerlanguage]
### List all Scanner Languages [GET]
+ Response 200 (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            [{
                "name": "EN_scan",
                "id": 1
            }, {
                "name": "DE_scan",
                "id": 2
            }, {
                "name": "CZE_scan",
                "id": 3
            }]

## Registrace uživatele [/contact]
### Register [POST]

+ Request (application/json)

    + Header
    
            Access-Control-Allow-Origin: *
            
    + Body

            {
                "name": "name",
                "email": "email",
                "subject": "subject",
                "message": "message"
            }


+ Response 200 (application/json)

            {
                "contact": "OK",
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

            {
                "error": {
                    "message": "Chybové hlášení pro odeslani zpravy.",
                    "error_code": "error.code.sendmessage"
                }
            }
            
## Download pdf [/download/{diag_result_id}/{token}]
### Download [GET]

+ Response 200

    + Header
    
            Content-Type: application/pdf
            Content-Disposition: attachment; filename="jump.pdf"
            Access-Control-Allow-Origin: *
        
    + Body
    
            text
            
            