FORMAT: 1A
HOST: http://www.google.com

# DAP Services a.s. - Softskillers API

API pro aplikaci Softskillers.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

##Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 400 `Bad Request` - The request could not be understood or was missing required parameters.
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 429 `Too Many Requests` - Exceeded API limits. Pause requests, wait one minute, and try again.
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

# API root [/]

Bez atributů, vrací `403`.

## Požadavek na root [GET]

+ Response 403

# Group Account

Práce s účtem uživatele.

## Users Login [/account/login]

Autentizace. Všechny http metody kromě **POST** vrací http status code `405`.

### Login User [POST]

role: businessman, business_partner

Přihlašování.

Seznam json atributů:

- username (required, string) - uživatelské jméno
- password (required, string) - heslo
- app_id (required, string) - id aplikace, do které se uživatel přihlašuje.

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            {
                "login": "user@yourdomain.com",
                "password": "good_password",
                "app_id": "APPID"
            }

    + Schema

            {
                "type": "object",
                "required": true,
                "properties": {
                    "username": {
                        "type": "string",
                        "required": true
                    },
                    "password": {
                        "type": "string",
                        "required": true
                    },
                    "app_id": {
                        "type": "string",
                        "required": true
                    }
                }
            }
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "user_id": 12312334,
                "profile": "/account/profile/{user_id}",
                "token": "security_token",
                "role":"business_partner",
                "first_name":"first_name",
                "last_name":"last_name"
            }

+ Response 401 (Unauthorized)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"error_code_login","type":"error"}
            }
            
+ Response 400 (Bad Request)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"login_bad_input","type":"error"}
            }

## Users Login [/account/loginbad]
#
### Login User [POST]

+ Response 401 (Unauthorized)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro autentizaci."
                }
            }



## Operace pro zobrazení uživatele. [/account/{user_id}]
### List all accounts [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "customer_id":"customer_id",
                "first_name": "first_name",
                "last_name": "last_name",
                "company_name": "company_name",
                "email": "email@email.cz",
                "address": "address",
                "country_code": {"name": "ISO country code","id": 1},
                "language_code": {"name": "ISO language code","id": 1},
                "phone": "123 123 1234",
                "login": "login_name",
                "vat_number": "vat_number",
                "license_valid_from": 111111,
                "license_valid_to": 222222,
                "ordered":true
            }

### Update user account [PUT]

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "first_name": "first_name",
                "last_name": "last_name",
                "company_name": "company_name",
                "email": "email",
                "address": "address",
                "country_code": {"name": "ISO country code","id": 1},
                "language_code": {"name": "ISO language code","id": 1},
                "phone_number": "123 123 1234",
                "login": "login_name",
                "vat_number": "vat_number",
                
            }

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *
            
    + Body

            {
                "messages": 
                    {"i18nKey":"user_update_success_code","type":"success"}
            }
            
            
## User password change [/account/{user_id}/password-change]
### User password change [POST]

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "verify_password": "PASSWORD",
                "vat_number": "vat_number"
            }
            
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *
            
    + Body

            {
                "messages": 
                    {"i18nKey":"user_password_change_success_code","type":"success"}
            }

## Registrace uživatele [/account/registration]

### Register [POST]

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "first_name": "first_name",
                "last_name": "last_name",
                "company_name": "company_name",
                "email": "email",
                "address": "address",
                "country_code":"ISO country code",
                "language_code": "ISO language code",
                "phone_number": "123 123 1234",
                "login": "login_name",
                "password": "PASSWORD",
                "verify_password": "PASSWORD",
                "vat_number": "vat_number"
            }


+ Response 200 (application/json)

            {
                "messages": 
                    {"i18nKey":"registration_success_code","type":"success"}
                    > {"i18nKey":"registration_success_code_email_failed","type":"warning"}
                    
            }

+ Response 400 (application/json)

            {
                "messages": 
                    {"i18nKey":"registration_bad_input","type":"error"}
                    > {"i18nKey":"registration_bad_input_login_already_exists","type":"error"}
                    > {"i18nKey":"registration_bad_input_password_confirmation_not_equal","type":"error"}
                    
            }

## Users Login [/account/registrationconfirm]

> TODO url by mohla být /account/registration/confirm

Potvrzení registrace uživatele. Posílá se klíč, který uživatel dostal (pravděpodobně do emailu v potvrzovacím linku). V případě, že požadavek není validní - neexistující klíč, uživatel je již aktivovaný se vrací error json.

### Login User [POST]

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
                "key": "confirmation_key"
            }

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "user_id": 12312334,
                "profile": "/account/profile/{user_id}"
            }
            
## Seznam skolení pouze aktualniho uzivatele [/account/{user_id}/training]
### order [GET]

+ Request (application/json)

    + Headers

            Access-Control-Allow-Origin: *

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "training_id": 1,
                    "i18nkey": "nls.training.name.key",
                    "status": "ORDERED"
                },
                {
                    "training_id": 2,
                    "i18nkey": "nls.training.name.key",
                    "status": "NOT_ORDERED"
                },
                {
                    "training_id": 3,
                    "i18nkey": "nls.training.name.key",
                    "status": "WAITING"
                }
            ]

# Konkretni školení uživatele [/account/{user_id}/training/{training_id}]

Práce se školeními uživatele. Autorizovaný resource.

> TODO Pravděpodobně samostatný resource pro app

## GET

Seznam školení uživatele.

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

                {
                    "training_id": 1,
                    "name": "nls.training.name.key",
                    "status": "NOT_ORDERED"
                }

## Objednani trenings [/account/{user_id}/training/{training_id}/order]
### order [POST]

Objednání školení uživatele. Výsledkem je odeslání emailu administrátorovi s žádostí o školení.

+ Request (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "training_id": 1,
                "message":"message_text"
            }

+ Response 200

            {
                "training_id": 1,
                "profile": "/account/profile/{user_id}"
            }






## Seznam vsech zakazniku pro konkretniho business partnera [/account/{user_id}/customer]
### List all Customers [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [{
                "customer_id": "customer_id_1",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code"
            },{
                "customer_id": "customer_id_2",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code"
            }]

### Vytvoreni noveho zakaznika [POST]

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "company_name": "company_name",
                "scanner_language":{"name": "EN_scan","id": 1},
                "name": true,
                "surname": false,
                "email":true,
                "department": false,
                "department_name": "department_name",
                "item": true,
                "item_name": "item_name"
            }


+ Response 200 (application/json)

            {
                "customer_id": 12312334,
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

            {
                "error": {
                    "message": "Chybové hlášení pro vytvoření zakaznika.",
                    "error_code": "error.code.createcustomer"
                }
            }

## Detail konkretniho zakaznika pro konkretniho business partnera [/account/{user_id}/customer/{customer_id}]
### Detail Customer [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "customer_id": "customer_id_1",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code",
                "scanner_language":{"name": "EN_scan","id": 1},
                "scanner_link":"http://url_scanner",
                "name":true,
                "surname":false,
                "department":true,
                "department_name":"department_name",
                "item":true,
                "item_name":"item_name"
            }

### Editace zakaznika [PUT]

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "company_name": "company_name",
                "scanner_language":{"name": "EN_scan","id": 1},
                "name": true,
                "surname": false,
                "email":true,
                "department": true,
                "department_name": "department_name",
                "item": true,
                "item_name": "item_name"
            }


+ Response 200 (application/json)

            {
                "messages": 
                    {"i18nKey":"order_edit_success_code","type":"success"}
            }



## Seznam scanu konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/result]
### List Diag Result [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [{
                "diag_result_id": "diag_result_id_1",
                "name": "name_1",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department1",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "customer_id":"customer_id"
            },{
                "diag_result_id": "diag_result_id_2",
                "name": "name_2",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department2",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_tu": "scan_date",
                "customer_id":"customer_id"
            },{
                "diag_result_id": "diag_result_id_21",
                "name": "name_21",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department3",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "customer_id":"customer_id"
            },{
                "diag_result_id": "diag_result_id_22",
                "name": "name_22",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department1",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "customer_id":"customer_id"
            },{
                "diag_result_id": "diag_result_id_31",
                "name": "name_31",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department2",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "customer_id":"customer_id"
            },{
                "diag_result_id": "diag_result_id_32",
                "name": "name_32",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department3",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "customer_id":"customer_id"
            },{
                "diag_result_id": "diag_result_id_25",
                "name": "name_25",
                "surname": "surname",
                "email":"email@email.cx",
                "department_name": "department1",
                "item_name":"item_name",
                "birth_year": "birth_year",
                "scan_date": "scan_date",
                "customer_id":"customer_id"
            }]

## Seznam lidi konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/persons]
### List department [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [{
                "person_id": 1,
                "name": "name_1",
                "birth_year": "birth_year",
                "department": "department1"
            },{
                "person_id": 2,
                "name": "name_2",
                "birth_year": "birth_year",
                "department": "department1"
            },{
                "person_id": 3,
                "name": "name_3",
                "birth_year": "birth_year",
                "department": "department2"
            },{
                "person_id": 4,
                "name": "name_4",
                "birth_year": "birth_year",
                "department": "department2"
            },{
                "person_id": 5,
                "name": "name_5",
                "birth_year": "birth_year",
                "department": "department3"
            },{
                "person_id": 6,
                "name": "name_6",
                "birth_year": "birth_year",
                "department": "department3"
            }]

## Seznam departmentu konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/departments]
### List department [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [{
                "department_id": 1,
                "department": "department1"
            },{
                "department_id": 2,
                "department": "department2"
            },{
                "department_id": 3,
                "department": "department3"
            }]

## Languages Collection [/scannerlanguage]
### List all Scanner Languages [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [{
                "name": "EN_scan",
                "id": 1
            }, {
                "name": "DE_scan",
                "id": 2
            }, {
                "name": "CZE_scan",
                "id": 3
            }]

## Registrace uživatele [/contact]
### Register [POST]

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "name": "name",
                "email": "email",
                "subject": "subject",
                "message": "message"
            }


+ Response 200 (application/json)

            {
                "messages": 
                    {"i18nKey":"contact_us_success","type":"success"}
            }

+ Response 400 (application/json)

           {
                "messages": 
                    {"i18nKey":"contact_us_error","type":"error"}
            }


## Seznam nebo jednoho person konkretniho zakaznika konkretniho business partnera [/account/{user_id}/customer/{customer_id}/generateresult]
### List Diag Group Result [POST]
+ Request (application/json)


            [
                "diag_result_id_2",
                "diag_result_id_21",
                "diag_result_id_32",
                "person_id_1"
            ]
            
+ Response 402

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"error_code_groupresult","type":"error"}
            }
            
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "hash_result": "hdkdirrff15487",
                "profile": "/account/profile/{user_id}"
            }

+ Response 400 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "error": {
                    "message": "Chybové hlášení pro generovani group result zakaznika.",
                    "error_code": "error.code.groupresult"
                }
            }     
            

## Licence - history [/account/{user_id}/licence]
### List all licences [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [{
                "license_valid_from": 111111,
                "license_valid_to": 222222,
            },{
               "license_valid_from": 111111,
                "license_valid_to": 222222,
            }]


### Create new licence [POST]
+ Request (application/json)

            {
               "license_valid_from": 111111,
                "license_valid_to": 222222,
            }

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"orderlicense_license_is_confirmed","type":"success"}
            }

## Licence - order [/account/{user_id}/licence/order]
Výsledkem je email adminovi ohledně objednání licence (v emailu bude i zpráva, kterou uživatel napsal) a email osobě s potvrzením objednávky
### Order licence [POST]

+ Request (application/json)

            {
                "message": "message"
            }

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"order_license_success_code","type":"success"}
            }
            
+ Response 400 

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"order_license_bad_input","type":"error"}
            }

# Group Admin

Práce s účtem administratora. Pro přístup je vyžadována role administrátora (businessman).

## Seznam školení uživatele [/admin/user/{user_id}/training]
### order [GET]

+ Request (application/json)

    + Headers

            Access-Control-Allow-Origin: *

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "training_id": 1,
                    "i18nkey": "nls.training.name.key",
                    "status": "ORDERED"
                },
                {
                    "training_id": 2,
                    "i18nkey": "nls.training.name.key",
                    "status": "NOT_ORDERED"
                },
                {
                    "training_id": 3,
                    "i18nkey": "nls.training.name.key",
                    "status": "WAITING"
                }
            ]



## Seznam business partneru konkretniho obchodnika [/admin/user/list]
### List businesspartner [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            
            [{
                "company_id": "company_id1",
                "company_name": "company_name1",
                "license_valid_from": 111111,
                "license_valid_to": 222222,
                "email": "email@email.cz",
                "phone":"123456789",
                "role": "CUSTOMER",
                "confirm_waiting":false
            },{
                "company_id": "company_id2",
                "company_name": "company_name2",
                "license_valid_from": 111111,
                "license_valid_to": 222222,
                "email": "email@email.cz",
                "phone":"123456789",
                "role": "CUSTOMER",
                "confirm_waiting":false
            },{
                "company_id": "company_id3",
                "company_name": "company_name3",
                "license_valid_from": 111111,
                "license_valid_to": 222222,
                "email": "email@email.cz",
                "phone":"123456789",
                "role": "PARTNER",
                "confirm_waiting":true
            }]
            
            
## Operace pro zobrazení uživatele. [/admin/user/{user_id}]
### Get user account detail [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "customer_id":"customer_id",
                "first_name": "first_name",
                "last_name": "last_name",
                "company_name": "company_name",
                "email": "email@email.cz",
                "address": "address",
                "country_code": {"name": "ISO country code","id": 1},
                "language_code": {"name": "ISO language code","id": 1},
                "phone_number": "123 123 1234",
                "login": "login_name",
                "vat_number": "vat_number",
                "license_valid_from": 111111,
                "license_valid_to": 222222,
                "ordered":true,
                "license_history": [
                    {
                      "license_valid_from": 1426719600000,
                      "license_valid_to": 1428616800000
                    }
                ]
            }
            
## Licence - new license [/admin/user/{user_id}/license]
### Create new license [POST]
+ Request (application/json)

            {
               "license_valid_from": 111111,
                "license_valid_to": 222222,
            }

+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"orderlicense_license_is_confirmed","type":"success"}
            }
            
## Get user training order [/admin/user/{user_id}/training/{training_id}/order]
### order [GET]

+ Request (application/json)

    + Headers

            Access-Control-Allow-Origin: *

+ Response 200

            {
                "training_id": 1,
                "i18nKey": "training_be_happy",
                "price": "1800",
                "message": "Prosim o vyrizeni pred vanoci"
            }
            
## Confirm user training [/admin/user/{user_id}/training/{training_id}/confirm]
### confirm [POST]

Potvrzeni školení adminem.

+ Request (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "training_id": 1,
                "message":"message_text"
            }

+ Response 200

            {
                "messages": {
                    "i18nKey": "training_confirm_success_code",
                    "type": "success"
                }
            }
            
## Partner - order [/admin/user/{user_id}/order/list]
### Order licence [GET]
Vrácení všech objednávek uživatele


+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

    + Body
       
        
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [
              {
                "id": 1,
                "name": "New partner order",
                "insert_time": 1231564,
                "valid_to": 121546516,
                "status": "open",
                "scanned_count": 12,
                "total_count": 50
              },
              {
                "id": 2,
                "name": "Second partner order",
                "insert_time": 1431564,
                "valid_to": 161546516,
                "status": "open",
                "scanned_count": 4,
                "total_count": 50
              }
            ]
            
## Partner group results [/admin/order/{order_id}/results]
### Show group results detail [GET]
Vrati seznam resultu jednotlivcu i skupin ktere existuji pro zadanne id obednavky.

+ Request (multipart/form-data)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)

            {
              "results": [
                {
                  "id": 1,
                  "first_name": "Milal",
                  "last_name": "Maly",
                  "email": "maly@email.com",
                  "year_of_birth": "1986",
                  "scan_time": 123456789,
                  "department": "Sales",
                  "intruder": true,
                  "generate_status": "scanned"
                },
                {
                  "id": 2,
                  "first_name": "Tomas",
                  "last_name": "Skorapka",
                  "email": "skoto@email.com",
                  "year_of_birth": "1966",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 3,
                  "first_name": "Mirek",
                  "last_name": "Pospíšil",
                  "email": "spech@email.com",
                  "year_of_birth": "1968",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 4,
                  "first_name": "Tonda",
                  "last_name": "Kudla",
                  "email": "kudla@email.com",
                  "year_of_birth": "1978",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 5,
                  "first_name": "Milena",
                  "last_name": "Kurnakova",
                  "email": "kudrnka@email.com",
                  "year_of_birth": "1989",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_status": "generated"
                }
              ],
              "group_results": [
                {
                  "group_result_id": 100,
                  "group_name": "whole female",
                  "generate_time": 123456789
                }
              ],
              "departments": [
                "Sales",
                "Management",
                "IT"
              ]
            }

+ Response 400
            
## List of customer orders for specified user [/admin/user/{user_id}/customer-order/list]
### List of customer orders [GET]
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [{
                "customer_id": "customer_id_1",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code"
            },{
                "customer_id": "customer_id_2",
                "company_name": "company_name",
                "date": "date",
                "city": "city",
                "country_code": "ISO country code"
            }]

#Group Order

## Partner - order [/order/partner]
### Create a new order or edit an existed one [POST]
<p>Create or update is differentiated by order id attribute.</p>
<p>Existed an not edited person email is stored in email attribute. New or updated email in new_email attribute.</p> 

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

    + Body
       
            {
                "id": 1,
                "scanner": {
                    "first_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "last_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "department": {
                        "values": "dep1;dep2;dep3",
                        "label": null,
                        "selected": true
                    },
                    "custom_item": {
                        "values": null,
                        "label": "Name of our favorite pet.",
                        "selected": true
                    }
                },
                "name": "New partner order",
                "consultant_id":1,
                "valid_to":121546516,
                "scanner_language":"en"
                "send_instruction": true,
                "send_result_to_person": true,
                "send_results_to_consultant": true,
                "persons": [
                    {
                      "email": "a@aa.aa",
                      "department": "a"
                    },
                    {
                      "email": "aa@aa.aa",
                      "new_email": "ab@aa.aa"
                    },
                    {
                      "email": "b@b.bb"
                    }
                ],
                "departments": [
                    "a",
                    "b",
                    "c"
                ]
            }
        
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"order_create_success_code","type":"success"}
            }
            
+ Response 400 

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"order_bad_request_code","type":"error"}
            }

## Partner - order [/order/partner/list]
### Order licence [GET]
Vrácení všech objednávek uživatele (pouze které vlastní)


+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

    + Body
       
        
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [
              {
                "id": 1,
                "name": "New partner order",
                "insert_time": 1231564,
                "valid_to": 121546516,
                "status": "open",
                "scanned_count": 12,
                "total_count": 50
              },
              {
                "id": 2,
                "name": "Second partner order",
                "insert_time": 1431564,
                "valid_to": 161546516,
                "status": "open",
                "scanned_count": 4,
                "total_count": 50
              }
            ]
       
## Nacteni detailu objednavky partnera [/order/partner/{order_id}]
### Nacteni detailu objednavky partnera [GET]
Načtení detailu objednávky - (musí být vlastníkem objednávky)

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)
    
    + Header

            Access-Control-Allow-Origin: *
    
    + Body
       
            {
                "scanner": {
                    "first_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "last_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "department": {
                        "values": "dep1;dep2;dep3",
                        "label": null,
                        "selected": true
                    },
                    "custom_item": {
                        "values": null,
                        "label": "Name of our favorite pet.",
                        "selected": true
                    }
                },
                "name": "New partner order",
                "consultant_id":2,
                "valid_to":121546516,
                "scanner_language":"en",
                "send_instruction": true,
                "send_result_to_person": true,
                "send_results_to_consultant": true,
                "scanner_url": "http://somescanner.dap-services.com?code=axC89",
                "id": 7,
                
                "persons": [
                    {
                      "email": "a@aa.aa",
                      "department": "a"
                    },
                    {
                      "email": "aa@aa.aa"
                    },
                    {
                      "email": "b@b.bb"
                    }
                ],
                "departments": [
                    "a",
                    "b",
                    "c"
                ]
            }

## Licence - order [/order/partner/init-data]
### Order licence [GET]
Načtení udaju nutnych pro vytvoreni nove obednavky (jazyk snimace, konzultanti).

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)
    
    + Header

            Access-Control-Allow-Origin: *
    
    + Body
       
            {
                "scanner_languages": [
                    {
                      "i18nKey": "en",
                      "code": "en"
                    },
                    {
                      "i18nKey": "cs",
                      "code": "cs"
                    }
                  ],
                  "consultants": [
                    {
                      "id": 0,
                      "email": "consultant1@example.com",
                      "first_name": "Karel",
                      "last_name": "Novak"
                    },
                    {
                      "id": 2,
                      "email": "consultant2@example.com",
                      "first_name": "Renata",
                      "last_name": "Svobodova"
                    }
                ]
            }

## Licence - order [/order/partner/import-structure]
### Order licence [POST]
Převede xls/xlsx příchozí soubor, převede do tvaru použávaný v applikaci a vrátí jako odpověď.

+ Request (multipart/form-data)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)
    
    + Header

            Access-Control-Allow-Origin: *
    
    + Body
    
            {
                "persons": [
                    {
                      "email": "a@aa.aa",
                      "department": "a"
                    },
                    {
                      "email": "aa@aa.aa"
                    },
                    {
                      "email": "b@b.bb"
                    }
                ],
                "departments": [
                    "a",
                    "b",
                    "c"
                ]
            }


## Licence - order [/order/partner/{order_id}/close]
### Order licence [POST]
Uzavre obednavku se zadanym id. Nastaví status na close.
Podle response kodu se zjisti se provedlo.

+ Request (multipart/form-data)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200

    + Header

            Access-Control-Allow-Origin: *
    
    + Body
    
            {
                invoice_price: 123654,
                invoice_text: "text"
            }

+ Response 400

## Partner group results [/order/partner/{order_id}/results]
### Show group results detail [GET]
Vrati seznam resultu jednotlivcu i skupin ktere existuji pro zadanne id obednavky - (musí být vlastníkem objednávky).
<p>Possible generate status : <ul><li>scanned</li> <li>computing_results</li> <li>permission_waiting</li> <li>computing_fail</li> <li>generated</li></p>

+ Request (multipart/form-data)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)

            {
              "results": [
                {
                  "id": 1,
                  "first_name": "Milal",
                  "last_name": "Maly",
                  "email": "maly@email.com",
                  "year_of_birth": "1986",
                  "scan_time": 123456789,
                  "department": "Sales",
                  "intruder": true,
                  "generate_status": "scanned"
                },
                {
                  "id": 2,
                  "first_name": "Tomas",
                  "last_name": "Skorapka",
                  "email": "skoto@email.com",
                  "year_of_birth": "1966",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 3,
                  "first_name": "Mirek",
                  "last_name": "Pospíšil",
                  "email": "spech@email.com",
                  "year_of_birth": "1968",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 4,
                  "first_name": "Tonda",
                  "last_name": "Kudla",
                  "email": "kudla@email.com",
                  "year_of_birth": "1978",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 5,
                  "first_name": "Milena",
                  "last_name": "Kurnakova",
                  "email": "kudrnka@email.com",
                  "year_of_birth": "1989",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_status": "computing_results"
                }
              ],
              "group_results": [
                {
                  "group_result_id": 100,
                  "group_name": "whole female",
                  "generate_time": 123456789
                }
              ],
              "departments": [
                "Sales",
                "Management",
                "IT"
              ]
            }

+ Response 400

## Generate result for partner order [/result/partner/{order_id}/generate-group]
### Generate result for partner order [POST]
Zadost vygenerovani vystupu (skupinovho i jednotlivce).
Vrátí pole vsech výsledků jednotlivců nebo skupin, podle typu vysledku ktery byl generovan.

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf
            
    + Body
    
            {
                "generate_result_ids": [1,2,3],
                "group_name":"name of group result"
            }
+ Response 200 (application/json)

            [
                {
                  "group_result_id": 100,
                  "group_name": "whole female",
                  "generate_time": 123456789
                }
            ]
            

+ Response 400 

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"error_code_not_enought_people_in_group","type":"error"}
            }

## Remove status intruder from scanned person [/order/partner/{order_id}/allow-intruder]
### Remove status intruder from scanned person [POST]
Zruseni stavu "intruder" pro odsnimanou osobu

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf
            
    + Body
    
            {
                "intruder_email":"intruder@email.com"
            }
+ Response 200 (application/json)

            {
              "results": [
                {
                  "id": 1,
                  "first_name": "Milal",
                  "last_name": "Maly",
                  "email": "maly@email.com",
                  "year_of_birth": "1986",
                  "scan_time": 123456789,
                  "department": "Sales",
                  "intruder": false
                },
                {
                  "id": 2,
                  "first_name": "Tomas",
                  "last_name": "Skorapka",
                  "email": "skoto@email.com",
                  "year_of_birth": "1966",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_time": 123456789
                },
                {
                  "id": 3,
                  "first_name": "Mirek",
                  "last_name": "Pospíšil",
                  "email": "spech@email.com",
                  "year_of_birth": "1968",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789
                },
                {
                  "id": 4,
                  "first_name": "Tonda",
                  "last_name": "Kudla",
                  "email": "kudla@email.com",
                  "year_of_birth": "1978",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789
                },
                {
                  "id": 5,
                  "first_name": "Milena",
                  "last_name": "Kurnakova",
                  "email": "kudrnka@email.com",
                  "year_of_birth": "1989",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_time": 123456789
                }
              ]
            }
            
+ Response 400

## Remove intruder from order [/order/partner/{order_id}/remove-intruder]
### Remove intruder from order [POST]
Odstranit neobjednanou osobu z objednavky

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf
            
    + Body
    
            {
                "intruder_email":"intruder@email.com"
            }
+ Response 200 (application/json)

            {
              "results": [
                {
                  "id": 2,
                  "first_name": "Tomas",
                  "last_name": "Skorapka",
                  "email": "skoto@email.com",
                  "year_of_birth": "1966",
                  "scan_time": 123456789,
                  "intruder": false
                },
                {
                  "id": 3,
                  "first_name": "Mirek",
                  "last_name": "Pospíšil",
                  "email": "spech@email.com",
                  "year_of_birth": "1968",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789
                },
                {
                  "id": 4,
                  "first_name": "Tonda",
                  "last_name": "Kudla",
                  "email": "kudla@email.com",
                  "year_of_birth": "1978",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789
                },
                {
                  "id": 5,
                  "first_name": "Milena",
                  "last_name": "Kurnakova",
                  "email": "kudrnka@email.com",
                  "year_of_birth": "1989",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_time": 123456789
                }
              ]
            }
+ Response 400

## Join intruder to existing person in order [/order/partner/{order_id}/join-intruder]
### Join intruder to existing person in order [POST]
Priradid intrudera k objednane (neodsnimane) osobe

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf
            
    + Body
    
            {
                "intruder_email":"intruder@email.com",
                "join_person_email":"user@email.com"
            }
+ Response 200 (application/json)

            {
              "results": [
                {
                  "id": 1,
                  "first_name": "Milal",
                  "last_name": "Maly",
                  "email": "spech@email.com",
                  "year_of_birth": "1986",
                  "scan_time": 123456789,
                  "department": "Sales",
                  "intruder": false
                },
                {
                  "id": 2,
                  "first_name": "Tomas",
                  "last_name": "Skorapka",
                  "email": "skoto@email.com",
                  "year_of_birth": "1966",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_time": 123456789
                },
                {
                  "id": 4,
                  "first_name": "Tonda",
                  "last_name": "Kudla",
                  "email": "kudla@email.com",
                  "year_of_birth": "1978",
                  "scan_time": 123456789,
                  "department": "Management",
                  "intruder": false,
                  "generate_time": 123456789
                },
                {
                  "id": 5,
                  "first_name": "Milena",
                  "last_name": "Kurnakova",
                  "email": "kudrnka@email.com",
                  "year_of_birth": "1989",
                  "scan_time": 123456789,
                  "intruder": false,
                  "generate_time": 123456789
                }
              ]
            }
+ Response 400

#Group Result

## Download result file [/result/{generate_result_id}/download/invoker?{token}]
### Download result file [GET]
+ Request
    + Header
    
            Access-Control-Allow-Origin: *
            X-Authorization: {authorization_token}

+ Response 200

    + Header

            Content-Type: application/pdf
            Content-Disposition: attachment; filename="invoice.pdf"
            Access-Control-Allow-Origin: *

    + Body

            Order invoice
        
+ Response 400

## Send email with instruction [/result/partner/{order_id}/send-instruction]
### Send email with instruction [POST]
+ Request (application/json)
    + Header
    
            Access-Control-Allow-Origin: *
            X-Authorization: {authorization_token}

    + Body

            {
                "email": "abc@abc.cc"
            }

+ Response 200
+ Response 400

#Group Customer

## Customer [/order/customer]
### order create/update [POST]
<p>Create a new order or edit an existed one. Create or update is differentiated by order id attribute.</p>

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

    + Body
       
            {
                "id": 1,
                "scanner": {
                    "first_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "last_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "department": {
                        "values": "dep1;dep2;dep3",
                        "label": null,
                        "selected": true
                    },
                    "custom_item": {
                        "values": null,
                        "label": "Name of our favorite pet.",
                        "selected": true
                    }
                },
                "name": "New partner order",
                "scanner_language":"en"
            }
        
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"order_create_success_code","type":"success"}
            }
            
+ Response 400 

    + Header

            Access-Control-Allow-Origin: *

    + Body

            {
                "messages": 
                    {"i18nKey":"order_bad_request_code","type":"error"}
            }

## Customer [/order/customer/list]
### order list [GET]
Returns all customer order (if actual user is owner)


+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

    + Body
       
        
+ Response 200 (application/json)

    + Header

            Access-Control-Allow-Origin: *

    + Body

            [
              {
                "id": 1,
                "name": "New customer order",
                "insert_time": 1231564,
                "scanned_count": 12
              },
              {
                "id": 2,
                "name": "Second customer order",
                "insert_time": 1431564,
                "scanned_count": 12
              }
            ]
            
## Customer [/order/customer/{order_id}]
### order detail [GET]
Returns detail of customer order (if actual user is owner)

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)
    
    + Header

            Access-Control-Allow-Origin: *
    
    + Body
       
            {
                "scanner": {
                    "first_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "last_name": {
                        "values": null,
                        "label": null,
                        "selected": true
                    },
                    "department": {
                        "values": "dep1;dep2;dep3",
                        "label": null,
                        "selected": true
                    },
                    "custom_item": {
                        "values": null,
                        "label": "Name of our favorite pet.",
                        "selected": true
                    }
                },
                "name": "New partner order",
                "scanner_language":"en",
                "scanner_url": "http://somescanner.dap-services.com?code=axC89",
                "id": 7
            }
            
## Customer [/order/customer/init-data]
### order init data[GET]
Return init data for order options (scanner language).

+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)
    
    + Header

            Access-Control-Allow-Origin: *
    
    + Body
       
            {
                "scanner_languages": [
                    {
                      "i18nKey": "en",
                      "code": "en"
                    },
                    {
                      "i18nKey": "cs",
                      "code": "cs"
                    }
                  ]
            }
            
## Customer [/order/customer/{order_id}/results]
### Result details [GET]
<p>Returns result details and group result details of customer order (if actual user is owner)</p>
<p>Possible generate status : <ul><li>scanned</li> <li>computing_results</li> <li>permission_waiting</li> <li>computing_fail</li> <li>generated</li></p>

+ Request (multipart/form-data)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf

+ Response 200 (application/json)

            {
              "results": [
                {
                  "id": 1,
                  "first_name": "Milal",
                  "last_name": "Maly",
                  "email": "maly@email.com",
                  "year_of_birth": "1986",
                  "scan_time": 123456789,
                  "department": "Sales",
                  "generate_status": "scanned"
                },
                {
                  "id": 2,
                  "first_name": "Tomas",
                  "last_name": "Skorapka",
                  "email": "skoto@email.com",
                  "year_of_birth": "1966",
                  "scan_time": 123456789,
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 3,
                  "first_name": "Mirek",
                  "last_name": "Pospíšil",
                  "email": "spech@email.com",
                  "year_of_birth": "1968",
                  "scan_time": 123456789,
                  "department": "Management",
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 4,
                  "first_name": "Tonda",
                  "last_name": "Kudla",
                  "email": "kudla@email.com",
                  "year_of_birth": "1978",
                  "scan_time": 123456789,
                  "department": "Management",
                  "generate_time": 123456789,
                  "generate_status": "generated"
                },
                {
                  "id": 5,
                  "first_name": "Milena",
                  "last_name": "Kurnakova",
                  "email": "kudrnka@email.com",
                  "year_of_birth": "1989",
                  "scan_time": 123456789,
                  "generate_status": "computing_results"
                }
              ],
              "group_results": [
                {
                  "group_result_id": 100,
                  "group_name": "whole female",
                  "generate_time": 123456789,
                  "generate_status": "computing_results"
                }
              ]
            }

## Customer [/result/customer/{order_id}/generate-group]
### Generate result [POST]
<p>A new result generate invoker.</p>
<p>Possible generate status : <ul><li>computing_results</li> <li>permission_waiting</li> <li>computing_fail</li> <li>generated</li></p>


+ Request (application/json)

    + Header

            Access-Control-Allow-Origin: *
            X-Authorization: 12124-545-asdf
            
    + Body
    
            {
                "generate_result_ids": [1,2,3],
                "group_name":"name of group result"
            }
+ Response 200 (application/json)

            [
                {
                  "group_result_id": 100,
                  "group_name": "whole female",
                  "generate_status": "computing_results"
                }
            ]
   

#Group Others

## Languages Collection [/language]
### List all Languages [GET]
+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            [{
                "i18nKey": "en",
                "id": 1
            }, {
                "i18nKey": "de",
                "id": 2
            }, {
                "i18nKey": "cz",
                "id": 3
            }]

## Countries Collection [/country]
### List all Countries [GET]
+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            [{
                "i18nKey": "DE",
                "id": 1
            },{
                "i18nKey": "CA",
                "id": 2
            }]
            
## Download pdf [/download/{hash_result}/{token}]
### Download [GET]

            
+ Response 200

    + Header

            Content-Type: application/pdf
            Content-Disposition: attachment; filename="jump.pdf"
            Access-Control-Allow-Origin: *

    + Body

            text 